h1{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Garamond, serif;
}
li{
    padding-bottom: 10px;
}
.custom1{
    background-color:tan;
}
.intro{
    font-family:Arial, Helvetica, sans-serif;
}
.paddingSpace{
    padding: 20px;
}